/*Стиль для страниц с личностями раздела изучение и охрана природы*/

body {
	overflow: hidden;
}

h1 {
	color: white;
	text-align: center;
	font-size: 100%;
	font-family: Arial;
	padding: 13px 0px 10px 0px;
	margin-bottom: 20px;
	background-color: #287AEA;
}

p {
	text-align: justify;
	line-height: 1.8;
	font-size: 130%;
	margin: 0px 0px 0px 0px;
	text-indent: 50px;
	margin-bottom: 10px;
}

img {
	border: none;
}

#forward-button {
	padding: 1px 10px 0px 0px;
	float: right;
}

#backward-button {
	float: right;
	padding: 1px 10px 0px 0px;
}

#mainmenu-button {
	padding: 0px 0px 0px 10px;
	float: left;
}

#menu-button {
	padding: 1px 5px 0px 30px;
	float: left;
}

.leftimg {
	float: left;
	margin: 15px 40px 20px 0px;
}